// ----------------IranSans--------------------
@font-face {
    font-family: "IranSansX";
    src: url(/fonts/IranSansX/Woff/IRANSansXFaNum-Black.woff) format(Woff),
    url(/fonts/IranSansX/Woff2/IRANSansXFaNum-Black.woff2) format(woff2);
    font-weight: 500;
}
// 
@font-face {
    font-family: "IranSansX";
    src: url(/fonts/IranSansX/Woff/IRANSansXFaNum-Regular.woff) format(Woff),
    url(/fonts/IranSansX/Woff2/IRANSansXFaNum-Regular.woff2) format(woff2);
    font-weight: 500;
}
// 
@font-face {
    font-family: "IranSansX";
    src: url(/fonts/IranSansX/Woff/IRANSansXFaNum-Bold.woff) format(Woff),
    url(/fonts/IranSansX/Woff2/IRANSansXFaNum-Bold.woff2) format(woff2);
    font-weight: 700;
}
// 
@font-face {
    font-family: "IranSansX";
    src: url(/fonts/IranSansX/Woff/IRANSansXFaNum-DemiBold.woff) format(Woff),
    url(/fonts/IranSansX/Woff2/IRANSansXFaNum-DemiBold.woff2) format(woff2);
    font-weight: 900;
}
// 
@font-face {
    font-family: "IranSansX";
    src: url(/fonts/IranSansX/Woff/IRANSansXFaNum-ExtraBold.woff) format(Woff),
    url(/fonts/IranSansX/Woff2/IRANSansXFaNum-ExtraBold.woff2) format(woff2);
    font-weight: 900;
}
// 
@font-face {
    font-family: "IranSansX";
    src: url(/fonts/IranSansX/Woff/IRANSansXFaNum-Light.woff) format(Woff),
    url(/fonts/IranSansX/Woff2/IRANSansXFaNum-Light.woff2) format(woff2);
    font-weight: 300;
}
// 
@font-face {
    font-family: "IranSansX";
    src: url(/fonts/IranSansX/Woff/IRANSansXFaNum-Medium.woff) format(Woff),
    url(/fonts/IranSansX/Woff2/IRANSansXFaNum-Medium.woff2) format(woff2);
    font-weight: 500;
}
// 
@font-face {
    font-family: "IranSansX";
    src: url(/fonts/IranSansX/Woff/IRANSansXFaNum-Thin.woff) format(Woff),
    url(/fonts/IranSansX/Woff2/IRANSansXFaNum-Thin.woff2) format(woff2);
    font-weight: 300;
}

// -----------------IranYekan------------------
@font-face {
    font-family: "IranYekanX";
    src: url(/fonts/IranYekanX/Woff/IRANYekanXFaNum-Black.woff) format(Woff),
    url(/fonts/IranYekanX/Woff2/IRANYekanXFaNum-Black.woff2) format(woff2);
    font-weight: 900;
}
