.footer-container{
    border-bottom: 8px solid $secondary2-100;
    background-color: $grayscale-1;
    .footer{
        margin: 0 auto;
        @include font(IranSansX,14px,500);
        .footer__introduction{
            .nuxt-icon {
                svg {
                    height: 37px;
                    width: 87px;
                }
            } 
            .footer__decscription{
                margin-top: 24px;
                line-height: 28px;
            }
        }
        .footer__links{
            max-width: 400px;
            @include for-desktop-up{
                max-width: 100%;
            }
            .service-link,.access-link{
                width: 150px;
                @include for-desktop-up{
                    width: 176px;
                }
                .footer__links-title{
                    @include font(IranSansX,16px,700,2);
                    margin-bottom: 20px;
                }
                .footer__links-text{
                    margin-bottom: 12px
                }
            }
        }
        .footer__copyright{
            @include font(IranSansX,14px,700,2);
        }
    }
}
