$secondary1-10:#E4E1F3;
$secondary1-20:#CAC4E7;
$secondary1-100:#24099A;
$secondary2-10:#E1E0E5;
$secondary2-20:#C4C2CC;
$secondary2-100:#0B032D;
$accent-10:#FFF2D0;
$accent-20:#FEE5A2;
$accent-100:#FCBF17;
$link-10:#E0ECFE;
$link-20:#C2D9FF;
$link-100:#0062FE;
$success-10:#E4F6EE;
$success-20:#CAEDDE;
$success-100:#25B577;
$warning-10:#FFF4E3;
$warning-20:#FFE8C7;
$warning-100:#FCA018;
$error-10:#FEE8EB;
$error-20:#FCD1D7;
$error-100:#F34158;
$grayscale-0:#FFFFFF;
$grayscale-1:#F2F2F2;
$grayscale-2:#E6E6E6;
$grayscale-3:#DBDBDB;
$grayscale-4:#9D9D9D;
$grayscale-5:#777777;
$grayscale-6:#4A4A4A;
